<section class="container-wrapper py-lg grid grid-cols-1 md:grid-cols-3 gap-lg {{ class }}">
    <article class="md:col-span-2 page-content flow-y">
        {{ main_content }}
            {{ partial src="sets/{type}" }}
        {{ /main_content }}
    </article>
    <aside class="md:col-span-1 relative">
        <div class="sticky top-gutter space-y-gutter">
            <div class="bg-light-glare p-600 space-y-400 text-xs">
                <div class="space-y-200">
                    <p class="h4">Hold fast og hold øje med os</p>
                    <p>Vi ved godt at nyhedsbreve er kedelige. Det lover vi også, at vores af og til kan være. Men har du lyst, så følg med i vores liv, og hvad der sker i vores kunders verden.</p>
                </div>
                <form class="space-y-200" action="">
                    <label class="flex flex-col space-y-1">
                        <b>Navn</b>
                        <input class="bg-light border-0 text-xs py-[.6em] px-[1em] placeholder:text-dark-shade/70" type="text" placeholder="Angiv dit navn:">
                    </label>
                    <label class="flex flex-col space-y-1">
                        <b>E-mail</b>
                        <input class="bg-light border-0 text-xs py-[.6em] px-[1em] placeholder:text-dark-shade/70"type="text" placeholder="Indtast din e-mail:">
                    </label>
                    <label class="flex flex-col space-y-1">
                        <b>Beskrivelse</b>
                        <textarea class="bg-light border-0 text-xs py-[.6em] px-[1em] placeholder:text-dark-shade/70" name="" placeholder="Skriv din besked her:"></textarea>
                    </label>
                    {{ partial:components/btn as="button" linkType="solid-primary" class="w-full !mt-400" }}
                </form>
            </div>
        </div>
    </aside>
</section>