<section class="container-wrapper grid grid-cols-1 lg:grid-cols-2 py-lg gap-lg">
    {{ items }}
    {{ if text }}
    <article class="page-content flow-y">
        {{ text }}
        <div class="flex flex-wrap gap-300 !mt-700 ">
            {{ links }}
                {{ link_type = switch(
                    (links == first) => "solid-primary",
                    () => "stroke-dark"
                ) }}
                {{ partial:components/btn :linkUrl="link_url" :linkType="link_type" :linkText="link_text" :linkIcon="link_icon" class="flex-grow md:flex-grow-0 !no-underline" }}
            {{ /links }}
        </div>
    </article>
    {{ elseif video }}
    {{ partial:sets/video class="!my-0" }}
    
    {{ else }}
    <h1 class="text-primary">fsdgsdf</h1>
    {{ /if }}
    {{ /items }}
</section>