@font-face {
  font-family: "Dosis";
  src: url("../fonts/Dosis-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dosis";
  src: url("../fonts/Dosis-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  @apply font-bold leading-tight;
}

h1,
.h1 {
  @apply text-850;
}

h2,
.h2 {
  @apply text-600;
}

h3,
.h3 {
  @apply text-500;
}

h4,
.h4 {
  @apply text-400;
}

h5,
.h5 {
  @apply text-300;
}
